[Unit]
Description=Bot to grab patchtuesday cves
After=network.target

[Service]
User=reidde
WorkingDirectory=/home/reidde/DiscordBots
ExecStart=/usr/bin/python3 /home/reidde/DiscordBots/patchTuesday.py
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
